In [219]:
!pip install pyspark
!pip install kaggle
!pip install wordcloud

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\kunal shinde\appdata\roaming\python\python310\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\kunal shinde\appdata\roaming\python\python310\site-packages (from pyspark) (0.10.9.7)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in c:\users\kunal shinde\appdata\roaming\python\python310\site-packages (1.5.16)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (1.26.14)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2023.5.7)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle) (22.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: wordcloud in c:\users\kunal shinde\appdata\roaming\python\python310\site-packages (1.9.2)
Requirement already satisfied: pillow in c:\programdata\anaconda3\lib\site-packages (from wordcloud) (9.4.0)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from wordcloud) (3.7.0)
Requirement already satisfied: numpy>=1.6.1 in c:\programdata\anaconda3\lib\site-packages (from wordcloud) (1.23.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud) (22.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)

In [220]:
import pyspark
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pyspark.sql import functions as func
from pyspark.sql.types import StringType,FloatType
import nltk

In [221]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('advertising (1).csv').getOrCreate()
spark

In [222]:
df = spark.read.csv("advertising (1).csv", header=True) #Loading the data

In [223]:
df.show()

+------------------------+---+-----------+--------------------+--------------------+-----------------+------+--------------------+----------------+-------------+
|Daily Time Spent on Site|Age|Area Income|Daily Internet Usage|       Ad Topic Line|             City|  Male|             Country|       Timestamp|Clicked on Ad|
+------------------------+---+-----------+--------------------+--------------------+-----------------+------+--------------------+----------------+-------------+
|                   68.95| 35|    61833.9|              256.09|Cloned 5thgenerat...|      Wrightburgh|female|             Tunisia|27/03/2016 00:53|            0|
|                   80.23| 31|   68441.85|              193.77|Monitored nationa...|        West Jodi|  male|               Nauru|04/04/2016 01:39|            0|
|                   69.47| 26|   59785.94|               236.5|Organic bottom-li...|         Davidton|female|          San Marino|13/03/2016 20:35|            0|
|                   74.15| 29|   54806.18|              245.89|Triple-buffered r...|   West Terrifurt|  male|               Italy|10/01/2016 02:31|            0|
|                   68.37| 35|   73889.99|              225.58|Robust logistical...|     South Manuel|female|             Iceland|03/06/2016 03:36|            0|
|                   59.99| 23|   59761.56|              226.74|Sharable client-d...|        Jamieberg|  male|              Norway|19/05/2016 14:30|            0|
|                   88.91| 33|   53852.85|              208.36|Enhanced dedicate...|      Brandonstad|female|             Myanmar|28/01/2016 20:59|            0|
|                      66| 48|   24593.33|              131.76|Reactive local ch...| Port Jefferybury|  male|           Australia|07/03/2016 01:40|            1|
|                   74.53| 30|      68862|              221.51|Configurable cohe...|       West Colin|  male|             Grenada|18/04/2016 09:33|            0|
|                   69.88| 20|   55642.32|              183.82|Mandatory homogen...|       Ramirezton|  male|               Ghana|11/07/2016 01:42|            0|
|                   47.64| 49|   45632.51|              122.02|Centralized neutr...|  West Brandonton|female|               Qatar|16/03/2016 20:19|            1|
|                   83.07| 37|   62491.01|              230.87|Team-oriented gri...|East Theresashire|  male|             Burundi|08/05/2016 08:10|            0|
|                   69.57| 48|   51636.92|              113.12|Centralized conte...|   West Katiefurt|  male|               Egypt|03/06/2016 01:14|            1|
|                   79.52| 24|   51739.63|              214.23|Synergistic fresh...|       North Tara|female|Bosnia and Herzeg...|20/04/2016 21:49|            0|
|                   42.95| 33|      30976|              143.56|Grass-roots coher...|     West William|female|            Barbados|24/03/2016 09:31|            1|
|                   63.45| 23|   52182.23|              140.64|Persistent demand...|   New Travistown|  male|               Spain|09/03/2016 03:41|            1|
|                   55.39| 37|   23936.86|              129.41|Customizable mult...|   West Dylanberg|female|Palestinian Terri...|30/01/2016 19:20|            1|
|                   82.03| 41|   71511.08|              187.53|Intuitive dynamic...|      Pruittmouth|female|         Afghanistan|02/05/2016 07:00|            0|
|                    54.7| 36|   31087.54|              118.39|Grass-roots solut...|      Jessicastad|  male|British Indian Oc...|13/02/2016 07:53|            1|
|                   74.58| 40|   23821.72|              135.51|Advanced 24/7 pro...|       Millertown|  male|  Russian Federation|27/02/2016 04:43|            1|
+------------------------+---+-----------+--------------------+--------------------+-----------------+------+--------------------+----------------+-------------+
only showing top 20 rows

In [224]:
#df = df.withColumnRenamed('_c0','target').withColumnRenamed('_c1','id').withColumnRenamed('_c2','date')\.withColumnRenamed('_c3','flag').withColumnRenamed('_c4','user').withColumnRenamed('_c5','text')
df.show() #renaming column

+------------------------+---+-----------+--------------------+--------------------+-----------------+------+--------------------+----------------+-------------+
|Daily Time Spent on Site|Age|Area Income|Daily Internet Usage|       Ad Topic Line|             City|  Male|             Country|       Timestamp|Clicked on Ad|
+------------------------+---+-----------+--------------------+--------------------+-----------------+------+--------------------+----------------+-------------+
|                   68.95| 35|    61833.9|              256.09|Cloned 5thgenerat...|      Wrightburgh|female|             Tunisia|27/03/2016 00:53|            0|
|                   80.23| 31|   68441.85|              193.77|Monitored nationa...|        West Jodi|  male|               Nauru|04/04/2016 01:39|            0|
|                   69.47| 26|   59785.94|               236.5|Organic bottom-li...|         Davidton|female|          San Marino|13/03/2016 20:35|            0|
|                   74.15| 29|   54806.18|              245.89|Triple-buffered r...|   West Terrifurt|  male|               Italy|10/01/2016 02:31|            0|
|                   68.37| 35|   73889.99|              225.58|Robust logistical...|     South Manuel|female|             Iceland|03/06/2016 03:36|            0|
|                   59.99| 23|   59761.56|              226.74|Sharable client-d...|        Jamieberg|  male|              Norway|19/05/2016 14:30|            0|
|                   88.91| 33|   53852.85|              208.36|Enhanced dedicate...|      Brandonstad|female|             Myanmar|28/01/2016 20:59|            0|
|                      66| 48|   24593.33|              131.76|Reactive local ch...| Port Jefferybury|  male|           Australia|07/03/2016 01:40|            1|
|                   74.53| 30|      68862|              221.51|Configurable cohe...|       West Colin|  male|             Grenada|18/04/2016 09:33|            0|
|                   69.88| 20|   55642.32|              183.82|Mandatory homogen...|       Ramirezton|  male|               Ghana|11/07/2016 01:42|            0|
|                   47.64| 49|   45632.51|              122.02|Centralized neutr...|  West Brandonton|female|               Qatar|16/03/2016 20:19|            1|
|                   83.07| 37|   62491.01|              230.87|Team-oriented gri...|East Theresashire|  male|             Burundi|08/05/2016 08:10|            0|
|                   69.57| 48|   51636.92|              113.12|Centralized conte...|   West Katiefurt|  male|               Egypt|03/06/2016 01:14|            1|
|                   79.52| 24|   51739.63|              214.23|Synergistic fresh...|       North Tara|female|Bosnia and Herzeg...|20/04/2016 21:49|            0|
|                   42.95| 33|      30976|              143.56|Grass-roots coher...|     West William|female|            Barbados|24/03/2016 09:31|            1|
|                   63.45| 23|   52182.23|              140.64|Persistent demand...|   New Travistown|  male|               Spain|09/03/2016 03:41|            1|
|                   55.39| 37|   23936.86|              129.41|Customizable mult...|   West Dylanberg|female|Palestinian Terri...|30/01/2016 19:20|            1|
|                   82.03| 41|   71511.08|              187.53|Intuitive dynamic...|      Pruittmouth|female|         Afghanistan|02/05/2016 07:00|            0|
|                    54.7| 36|   31087.54|              118.39|Grass-roots solut...|      Jessicastad|  male|British Indian Oc...|13/02/2016 07:53|            1|
|                   74.58| 40|   23821.72|              135.51|Advanced 24/7 pro...|       Millertown|  male|  Russian Federation|27/02/2016 04:43|            1|
+------------------------+---+-----------+--------------------+--------------------+-----------------+------+--------------------+----------------+-------------+
only showing top 20 rows

In [225]:
df.printSchema()

root
 |-- Daily Time Spent on Site: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Area Income: string (nullable = true)
 |-- Daily Internet Usage: string (nullable = true)
 |-- Ad Topic Line: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Timestamp: string (nullable = true)
 |-- Clicked on Ad: string (nullable = true)

In [226]:
df.head(5)

[Row(Daily Time Spent on Site='68.95', Age='35', Area Income='61833.9', Daily Internet Usage='256.09', Ad Topic Line='Cloned 5thgeneration orchestration', City='Wrightburgh', Male='female', Country='Tunisia', Timestamp='27/03/2016 00:53', Clicked on Ad='0'),
 Row(Daily Time Spent on Site='80.23', Age='31', Area Income='68441.85', Daily Internet Usage='193.77', Ad Topic Line='Monitored national standardization', City='West Jodi', Male='male', Country='Nauru', Timestamp='04/04/2016 01:39', Clicked on Ad='0'),
 Row(Daily Time Spent on Site='69.47', Age='26', Area Income='59785.94', Daily Internet Usage='236.5', Ad Topic Line='Organic bottom-line service-desk', City='Davidton', Male='female', Country='San Marino', Timestamp='13/03/2016 20:35', Clicked on Ad='0'),
 Row(Daily Time Spent on Site='74.15', Age='29', Area Income='54806.18', Daily Internet Usage='245.89', Ad Topic Line='Triple-buffered reciprocal time-frame', City='West Terrifurt', Male='male', Country='Italy', Timestamp='10/01/2016 02:31', Clicked on Ad='0'),
 Row(Daily Time Spent on Site='68.37', Age='35', Area Income='73889.99', Daily Internet Usage='225.58', Ad Topic Line='Robust logistical utilization', City='South Manuel', Male='female', Country='Iceland', Timestamp='03/06/2016 03:36', Clicked on Ad='0')]

In [227]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat, when, row_number, to_date, year, month, dayofweek
from pyspark.sql.window import Window
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import col

In [228]:
# Filter Data
df.filter(df["Area Income"] > 70).show(10)

+------------------------+---+-----------+--------------------+--------------------+----------------+------+----------+----------------+-------------+
|Daily Time Spent on Site|Age|Area Income|Daily Internet Usage|       Ad Topic Line|            City|  Male|   Country|       Timestamp|Clicked on Ad|
+------------------------+---+-----------+--------------------+--------------------+----------------+------+----------+----------------+-------------+
|                   68.95| 35|    61833.9|              256.09|Cloned 5thgenerat...|     Wrightburgh|female|   Tunisia|27/03/2016 00:53|            0|
|                   80.23| 31|   68441.85|              193.77|Monitored nationa...|       West Jodi|  male|     Nauru|04/04/2016 01:39|            0|
|                   69.47| 26|   59785.94|               236.5|Organic bottom-li...|        Davidton|female|San Marino|13/03/2016 20:35|            0|
|                   74.15| 29|   54806.18|              245.89|Triple-buffered r...|  West Terrifurt|  male|     Italy|10/01/2016 02:31|            0|
|                   68.37| 35|   73889.99|              225.58|Robust logistical...|    South Manuel|female|   Iceland|03/06/2016 03:36|            0|
|                   59.99| 23|   59761.56|              226.74|Sharable client-d...|       Jamieberg|  male|    Norway|19/05/2016 14:30|            0|
|                   88.91| 33|   53852.85|              208.36|Enhanced dedicate...|     Brandonstad|female|   Myanmar|28/01/2016 20:59|            0|
|                      66| 48|   24593.33|              131.76|Reactive local ch...|Port Jefferybury|  male| Australia|07/03/2016 01:40|            1|
|                   74.53| 30|      68862|              221.51|Configurable cohe...|      West Colin|  male|   Grenada|18/04/2016 09:33|            0|
|                   69.88| 20|   55642.32|              183.82|Mandatory homogen...|      Ramirezton|  male|     Ghana|11/07/2016 01:42|            0|
+------------------------+---+-----------+--------------------+--------------------+----------------+------+----------+----------------+-------------+
only showing top 10 rows

In [229]:
# Grouping and Aggregating Data
df.groupBy("Male").agg({"Daily Internet Usage": "sum"}).show(5)

+------+-------------------------+
|  Male|sum(Daily Internet Usage)|
+------+-------------------------+
|female|        92805.90000000005|
|  male|        87194.19999999991|
+------+-------------------------+

In [230]:
# Grouping and Aggregating Data
df.groupBy("City").agg({"Area Income": "mean"}).show(5)

+----------------+----------------+
|            City|avg(Area Income)|
+----------------+----------------+
|      Curtisview|        61275.18|
|      Karenmouth|         69805.7|
|South Davidmouth|        31998.72|
|  Villanuevastad|        65756.36|
|     Tinachester|        69112.84|
+----------------+----------------+
only showing top 5 rows

In [231]:
df.groupBy("Country").agg({"Daily Internet Usage":"sum"}).show(5)

+--------------------+-------------------------+
|             Country|sum(Daily Internet Usage)|
+--------------------+-------------------------+
|                Chad|                   787.52|
|            Paraguay|                    528.4|
|            Anguilla|                  1164.11|
|               Macao|                   377.13|
|Heard Island and ...|                   524.69|
+--------------------+-------------------------+
only showing top 5 rows

In [232]:
# Handling Missing Values
df.fillna(0, subset=["Daily Internet Usage"])

DataFrame[Daily Time Spent on Site: string, Age: string, Area Income: string, Daily Internet Usage: string, Ad Topic Line: string, City: string, Male: string, Country: string, Timestamp: string, Clicked on Ad: string]

In [233]:
# Sorting Data
df.orderBy("City").show(5)

+------------------------+---+-----------+--------------------+--------------------+-------------+------+-------------+----------------+-------------+
|Daily Time Spent on Site|Age|Area Income|Daily Internet Usage|       Ad Topic Line|         City|  Male|      Country|       Timestamp|Clicked on Ad|
+------------------------+---+-----------+--------------------+--------------------+-------------+------+-------------+----------------+-------------+
|                   40.19| 37|   55358.88|              136.99|Right-sized syste...|    Adamsbury|female|       France|18/01/2016 02:51|            1|
|                   45.82| 27|    64410.8|              171.24|Expanded full-ran...|     Adamside|  male|      Eritrea|10/02/2016 20:43|            1|
|                   81.05| 34|   54045.39|               245.5|Configurable asyn...|    Adamsstad|female|     Malaysia|18/05/2016 00:07|            0|
|                   83.26| 40|    70225.6|              187.76|Decentralized for...|     Alanview|  male|        Tonga|02/01/2016 14:36|            0|
|                   46.37| 52|   32847.53|              144.27|De-engineered sol...|Alexanderfurt|female|French Guiana|05/01/2016 00:02|            1|
+------------------------+---+-----------+--------------------+--------------------+-------------+------+-------------+----------------+-------------+
only showing top 5 rows

In [234]:
# Renaming Columns
df = df.withColumnRenamed("Male", "Gender").show(5)

+------------------------+---+-----------+--------------------+--------------------+--------------+------+----------+----------------+-------------+
|Daily Time Spent on Site|Age|Area Income|Daily Internet Usage|       Ad Topic Line|          City|Gender|   Country|       Timestamp|Clicked on Ad|
+------------------------+---+-----------+--------------------+--------------------+--------------+------+----------+----------------+-------------+
|                   68.95| 35|    61833.9|              256.09|Cloned 5thgenerat...|   Wrightburgh|female|   Tunisia|27/03/2016 00:53|            0|
|                   80.23| 31|   68441.85|              193.77|Monitored nationa...|     West Jodi|  male|     Nauru|04/04/2016 01:39|            0|
|                   69.47| 26|   59785.94|               236.5|Organic bottom-li...|      Davidton|female|San Marino|13/03/2016 20:35|            0|
|                   74.15| 29|   54806.18|              245.89|Triple-buffered r...|West Terrifurt|  male|     Italy|10/01/2016 02:31|            0|
|                   68.37| 35|   73889.99|              225.58|Robust logistical...|  South Manuel|female|   Iceland|03/06/2016 03:36|            0|
+------------------------+---+-----------+--------------------+--------------------+--------------+------+----------+----------------+-------------+
only showing top 5 rows

In [235]:
#from pyspark.sql.functions import concat_ws

In [236]:
# Concatenating Columns
#df = df.withColumn("NewColumn", col("City") * 2)
df = df.withColumn("concatenated_column", concat(df["City"], df["Country"])).show(5)

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [194]:
# Dropping Columns
df = df.drop("concatenated_column")

AttributeError: 'NoneType' object has no attribute 'drop'

In [195]:
# Distinct Values in a Column
df.select("Area Income").distinct().show()

AttributeError: 'NoneType' object has no attribute 'select'