In [1]:
pip install XlsxWriter

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: XlsxWriter in c:\users\kunal shinde\appdata\roaming\python\python310\site-packages (3.1.7)
Note: you may need to restart the kernel to use updated packages.

In [194]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import warnings
warnings.filterwarnings('ignore')

In [195]:
rw = pd.read_csv(r"heart.csv")
rw.head(2)

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3,30,No,Female,55-59,White,Yes,Yes,Very good,5,Yes,No,Yes
1,No,20.34,No,No,Yes,0,0,No,Female,80 or older,White,No,Yes,Very good,7,No,No,No

In [196]:
rw = rw[240001:300000]

In [197]:
rw

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
240001,No,34.70,No,No,No,0,0,No,Female,65-69,White,No,No,Good,7,No,No,No
240002,No,21.83,No,No,No,0,0,No,Male,70-74,Black,No,Yes,Excellent,6,No,No,No
240003,No,25.09,No,No,No,6,0,No,Male,40-44,White,No,Yes,Good,8,No,No,No
240004,Yes,21.95,No,No,No,0,0,Yes,Female,80 or older,White,No,No,Fair,5,No,No,No
240005,Yes,21.41,Yes,No,No,0,3,No,Female,75-79,White,Yes,Yes,Very good,6,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,No,23.06,No,No,No,5,10,No,Male,18-24,White,No,Yes,Very good,6,No,No,No
299996,No,31.89,Yes,No,No,0,0,No,Female,75-79,White,No,Yes,Good,5,No,No,No
299997,No,27.26,No,No,No,0,0,No,Male,25-29,White,No,Yes,Excellent,8,No,No,No
299998,No,23.11,No,No,No,0,0,No,Male,30-34,White,No,Yes,Excellent,7,No,No,No
299999,No,24.02,No,No,No,0,5,No,Female,30-34,Hispanic,No,No,Very good,7,Yes,No,No

In [198]:
rw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59999 entries, 240001 to 299999
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HeartDisease      59999 non-null  object
 1   BMI               59999 non-null  float64
 2   Smoking           59999 non-null  object
 3   AlcoholDrinking   59999 non-null  object
 4   Stroke            59999 non-null  object
 5   PhysicalHealth    59999 non-null  int64
 6   MentalHealth      59999 non-null  int64
 7   DiffWalking       59999 non-null  object
 8   Sex               59999 non-null  object
 9   AgeCategory       59999 non-null  object
 10  Race              59999 non-null  object
 11  Diabetic          59999 non-null  object
 12  PhysicalActivity  59999 non-null  object
 13  GenHealth         59999 non-null  object
 14  SleepTime         59999 non-null  int64
 15  Asthma            59999 non-null  object
 16  KidneyDisease     59999 non-null  object
 17  SkinCancer        59999 non-null  object
dtypes: float64(1), int64(3), object(14)
memory usage: 8.2+ MB

In [199]:
rw.columns

Index(['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Stroke',
       'PhysicalHealth', 'MentalHealth', 'DiffWalking', 'Sex', 'AgeCategory',
       'Race', 'Diabetic', 'PhysicalActivity', 'GenHealth', 'SleepTime',
       'Asthma', 'KidneyDisease', 'SkinCancer'],
      dtype='object')

In [200]:
rw.drop('PhysicalHealth',axis=1,inplace=True)   # To Delete Perticular Columns
rw.drop('MentalHealth',axis=1,inplace=True)
rw.drop('Race',axis=1,inplace=True)
rw.drop('PhysicalActivity',axis=1,inplace=True)
rw.drop('GenHealth',axis=1,inplace=True)
#rw.drop('Asthma',axis=1,inplace=True)
#rw.drop('KidneyDisease',axis=1,inplace=True)
#rw.drop('SkinCancer',axis=1,inplace=True)
rw.drop('AgeCategory',axis=1,inplace=True)

In [201]:
rw

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,DiffWalking,Sex,Diabetic,SleepTime,Asthma,KidneyDisease,SkinCancer
240001,No,34.70,No,No,No,No,Female,No,7,No,No,No
240002,No,21.83,No,No,No,No,Male,No,6,No,No,No
240003,No,25.09,No,No,No,No,Male,No,8,No,No,No
240004,Yes,21.95,No,No,No,Yes,Female,No,5,No,No,No
240005,Yes,21.41,Yes,No,No,No,Female,Yes,6,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,No,23.06,No,No,No,No,Male,No,6,No,No,No
299996,No,31.89,Yes,No,No,No,Female,No,5,No,No,No
299997,No,27.26,No,No,No,No,Male,No,8,No,No,No
299998,No,23.11,No,No,No,No,Male,No,7,No,No,No
299999,No,24.02,No,No,No,No,Female,No,7,Yes,No,No

In [202]:
HeartDisease = pd.get_dummies(rw['HeartDisease'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,HeartDisease],axis=1)
rw.drop('HeartDisease',axis=1,inplace=True)
rw.rename(columns = {'Yes':'HeartDisease'}, inplace = True)

In [203]:
AlcoholDrinking = pd.get_dummies(rw['AlcoholDrinking'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,AlcoholDrinking],axis=1)
rw.drop('AlcoholDrinking',axis=1,inplace=True)
rw.rename(columns = {'Yes':'AlcoholDrinking'}, inplace = True)

In [204]:
Smoking = pd.get_dummies(rw['Smoking'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,Smoking],axis=1)
rw.drop('Smoking',axis=1,inplace=True)
rw.rename(columns = {'Yes':'Smoking'}, inplace = True)

In [205]:
Stroke = pd.get_dummies(rw['Stroke'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,Stroke],axis=1)
rw.drop('Stroke',axis=1,inplace=True)
rw.rename(columns = {'Yes':'Stroke'}, inplace = True)

In [206]:
Sex = pd.get_dummies(rw['Sex'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,Sex],axis=1)
rw.drop('Sex',axis=1,inplace=True)
rw.rename(columns = {'Male':'Sex'}, inplace = True)

In [207]:
DiffWalking = pd.get_dummies(rw['DiffWalking'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,DiffWalking],axis=1)
rw.drop('DiffWalking',axis=1,inplace=True)
rw.rename(columns = {'Yes':'DiffWalking'}, inplace = True)

In [208]:
Diabetic = pd.get_dummies(rw['Diabetic'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,Diabetic],axis=1)
rw.drop('Diabetic',axis=1,inplace=True)
rw.rename(columns = {'Yes':'Diabetic'}, inplace = True)

In [209]:
Asthma = pd.get_dummies(rw['Asthma'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,Asthma],axis=1)
rw.drop('Asthma',axis=1,inplace=True)
rw.rename(columns = {'Yes':'Asthma'}, inplace = True)

In [210]:
KidneyDisease = pd.get_dummies(rw['KidneyDisease'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,KidneyDisease],axis=1)
rw.drop('KidneyDisease',axis=1,inplace=True)
rw.rename(columns = {'Yes':'KidneyDisease'}, inplace = True)

In [211]:
SkinCancer = pd.get_dummies(rw['SkinCancer'],drop_first=True)   # To Create Dummies # Remove String from Columns and replce with Numbers
rw = pd.concat([rw,SkinCancer],axis=1)
rw.drop('SkinCancer',axis=1,inplace=True)
rw.rename(columns = {'Yes':'SkinCancer'}, inplace = True)

In [212]:
rw.drop('No, borderline diabetes',axis=1,inplace=True)
rw.drop('Yes (during pregnancy)',axis=1,inplace=True)

In [213]:
rw

,BMI,SleepTime,HeartDisease,AlcoholDrinking,Smoking,Stroke,Sex,DiffWalking,Diabetic,Asthma,KidneyDisease,SkinCancer
240001,34.70,7,0,0,0,0,0,0,0,0,0,0
240002,21.83,6,0,0,0,0,1,0,0,0,0,0
240003,25.09,8,0,0,0,0,1,0,0,0,0,0
240004,21.95,5,1,0,0,0,0,1,0,0,0,0
240005,21.41,6,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,23.06,6,0,0,0,0,1,0,0,0,0,0
299996,31.89,5,0,0,1,0,0,0,0,0,0,0
299997,27.26,8,0,0,0,0,1,0,0,0,0,0
299998,23.11,7,0,0,0,0,1,0,0,0,0,0
299999,24.02,7,0,0,0,0,0,0,0,1,0,0

In [214]:
rw.describe()  # Data Stat

,BMI,SleepTime,HeartDisease,AlcoholDrinking,Smoking,Stroke,Sex,DiffWalking,Diabetic,Asthma,KidneyDisease,SkinCancer
count,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000
mean,28.305202,7.098802,0.082985,0.066701,0.392707,0.036734,0.481758,0.130452,0.125069,0.140286,0.036301,0.097885
std,6.377536,1.419286,0.275861,0.249506,0.488357,0.188109,0.499671,0.336803,0.330800,0.347286,0.187039,0.297162
min,12.270000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.020000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.280000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,31.320000,8.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,94.660000,24.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [215]:
rw.info()  # Missing Data Inform

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59999 entries, 240001 to 299999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BMI              59999 non-null  float64
 1   SleepTime        59999 non-null  int64
 2   HeartDisease     59999 non-null  uint8
 3   AlcoholDrinking  59999 non-null  uint8
 4   Smoking          59999 non-null  uint8
 5   Stroke           59999 non-null  uint8
 6   Sex              59999 non-null  uint8
 7   DiffWalking      59999 non-null  uint8
 8   Diabetic         59999 non-null  uint8
 9   Asthma           59999 non-null  uint8
 10  KidneyDisease    59999 non-null  uint8
 11  SkinCancer       59999 non-null  uint8
dtypes: float64(1), int64(1), uint8(10)
memory usage: 1.5 MB

In [216]:
rw=rw.dropna() # Missing Row Delete

Decide Dependant and Independant Elements in Data Set

In [217]:
x=rw.drop('HeartDisease',axis=1)  # decide all Indepentant Data

In [218]:
x

,BMI,SleepTime,AlcoholDrinking,Smoking,Stroke,Sex,DiffWalking,Diabetic,Asthma,KidneyDisease,SkinCancer
240001,34.70,7,0,0,0,0,0,0,0,0,0
240002,21.83,6,0,0,0,1,0,0,0,0,0
240003,25.09,8,0,0,0,1,0,0,0,0,0
240004,21.95,5,0,0,0,0,1,0,0,0,0
240005,21.41,6,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
299995,23.06,6,0,0,0,1,0,0,0,0,0
299996,31.89,5,0,1,0,0,0,0,0,0,0
299997,27.26,8,0,0,0,1,0,0,0,0,0
299998,23.11,7,0,0,0,1,0,0,0,0,0
299999,24.02,7,0,0,0,0,0,0,1,0,0

In [219]:
y=rw['HeartDisease']  # Decide Depenet data

In [220]:
y

240001    0
240002    0
240003    0
240004    1
240005    1
         ..
299995    0
299996    0
299997    0
299998    0
299999    0
Name: HeartDisease, Length: 59999, dtype: uint8

# Train Test Split

In [221]:
from sklearn.model_selection import train_test_split

In [222]:
X_train, X_test, y_train, y_test =train_test_split(x,y,test_size=0.3)  # Traning 70% and Testing 30%

In [223]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41999 entries, 243285 to 297037
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BMI              41999 non-null  float64
 1   SleepTime        41999 non-null  int64
 2   AlcoholDrinking  41999 non-null  uint8
 3   Smoking          41999 non-null  uint8
 4   Stroke           41999 non-null  uint8
 5   Sex              41999 non-null  uint8
 6   DiffWalking      41999 non-null  uint8
 7   Diabetic         41999 non-null  uint8
 8   Asthma           41999 non-null  uint8
 9   KidneyDisease    41999 non-null  uint8
 10  SkinCancer       41999 non-null  uint8
dtypes: float64(1), int64(1), uint8(9)
memory usage: 1.3 MB

In [224]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18000 entries, 274138 to 249012
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BMI              18000 non-null  float64
 1   SleepTime        18000 non-null  int64
 2   AlcoholDrinking  18000 non-null  uint8
 3   Smoking          18000 non-null  uint8
 4   Stroke           18000 non-null  uint8
 5   Sex              18000 non-null  uint8
 6   DiffWalking      18000 non-null  uint8
 7   Diabetic         18000 non-null  uint8
 8   Asthma           18000 non-null  uint8
 9   KidneyDisease    18000 non-null  uint8
 10  SkinCancer       18000 non-null  uint8
dtypes: float64(1), int64(1), uint8(9)
memory usage: 580.1 KB

# Machine Learning Models

Linear
Logistic
SVC
KNN
K Mean
Desicion Tree
Random Forest
Naive Bayes

# Logistic Regression

In [225]:
from sklearn.linear_model import LogisticRegression  # Choose Mode

In [226]:
logmodel = LogisticRegression()

In [227]:
logmodel.fit(X_train,y_train)  # Training

LogisticRegression()

In [228]:
predictions = logmodel.predict(X_test)  # Testing

In [229]:
from sklearn.metrics import classification_report

In [230]:
print(classification_report(y_test,predictions))   # Model Evaluation

              precision    recall  f1-score   support

           0       0.92      0.99      0.96     16509
           1       0.57      0.08      0.14      1491

    accuracy                           0.92     18000
   macro avg       0.74      0.54      0.55     18000
weighted avg       0.89      0.92      0.89     18000

In [75]:
rw.columns

Index(['BMI', 'SleepTime', 'HeartDisease', 'AlcoholDrinking', 'Smoking',
       'Stroke', 'Sex', 'DiffWalking', 'Diabetic', 'Asthma', 'KidneyDisease',
       'SkinCancer'],
      dtype='object')

In [ ]:
import pandas as pd

# Load the original Excel file
original_file =   # Replace with the path to your Excel file
df = pd.read_csv(original_file)

# Define the columns to select
selected_columns = ['BMI', 'SleepTime', 'HeartDisease', 'AlcoholDrinking', 'Smoking',
       'Stroke', 'Sex', 'DiffWalking', 'Diabetic', 'Asthma', 'KidneyDisease',
       'SkinCancer']

# Define the number of rows in each part
rows_per_part = 60000

# Calculate the number of parts needed
num_parts = len(df) // rows_per_part

# Split the original DataFrame into multiple DataFrames
data_frames = [df[selected_columns][i * rows_per_part:(i + 1) * rows_per_part] for i in range(num_parts)]

# Save each part to separate Excel files
for i, part_df in enumerate(data_frames, 1):
    excel_file_name = f'part_{i}.xlsx'
    part_df.to_excel(excel_file_name, index=False, engine='openpyxl')

print("Data split and saved to Excel files.")